.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-wrapper {
  background-color:	#606060 !important;
}

#toast-container {
  top: 10% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.card-content {
  text-align: left !important;
  padding: 12px !important;
}

.card .card-content .card-title {
  line-height: 25px !important;
}

.card .card-title {
  font-size: 20px !important;
  font-weight: 400 !important;
}

nav .brand-logo.right {
  right: 2rem !important;
}
